.main-form {
  background-color: $color-white;
  padding: 0 55px 74px;
  margin: 0 auto;
  width: 800px;
  margin-top: 37px;
  margin-bottom: 74px;

  @include mobile {
    width: 100%;
    margin-top: 0;
    padding: 0 20px 74px;
    margin-bottom: 0;
  }

  select {
    display: none;
  }

  input {
    transition: border 0.4s;

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .timepicker {
    width: 90px;
    margin-right: 20px;

    @include mobile {
      width: 108px !important;
      margin-right: 18px !important;
      flex-shrink: 1;
    }

    @media (max-width: 374px) {
      width: 59px !important;
      margin-right: 13px !important;
    }
  }

  &__field {
    position: relative;
    height: 100px;

    input {
      margin-top: 60px;
      height: 40px;
      font-weight: 300;
    }

    &--long {
      width: 100%;
    }
  }

  &__field-label {
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
    bottom: 7px;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    font-family: inherit;
    color: $color-text-grey;
    transition: all 0.2s;

    @include mobile {
      font-size: 17px;
    }
  }

  &__field-label.price-label {
    width: fit-content;
    &::after {
      content: "?";
      position: absolute;
      color: $color-white;
      font-size: 18px;
      line-height: 11px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #a2aabd;
      padding: 6px 7px;
      box-sizing: border-box;
      right: -26px;
      bottom: 7px;
      transition: all 0.2s;
    }
  }

  &__field input.filled~.main-form__field-label,
  &__field input:focus~.main-form__field-label,
  .js-Dropdown.is-open~.main-form__field-label,
  .js-Dropdown.is-selected~.main-form__field-label,
  .dropdown--focus~.main-form__field-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $color-text-grey;
    width: 100%;

    position: absolute;
    bottom: 46px;
    left: 0;

    @include mobile {
      top: -6px;
    }

    &.price-label {
      width: fit-content;
      &::after {
        font-size: 14px;
        width: 17px;
        height: 17px;
        padding: 3px 5px;
        right: -26px;
        bottom: 0;
      }
    }
  }



  &__date-times {
    flex-shrink: 1;
  }

  input:focus {
    border-bottom: 1px solid $color-btn-blue;
  }

  button {
    margin-top: 41px;

    @include mobile {
      margin-top: 45px;
    }
  }

  .blue-btn {
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    @include mobile {
      margin-top: 36px;
    }
  }

  &__date {
    @include mobile {
      display: flex;
    }
    .main-form__input {
      position: relative;
      // margin-top: 42px;

      input {
        width: 120px;
        padding: 0 0 6px;
        margin-right: 30px;
        border-bottom: 1px solid $color-border-grey;
        // margin-top: 29px;
        padding-bottom: 6px;
        // height: 30px;
        @include mobile {
          margin-right: 28px;
          padding-bottom: 13px;
        }
      }
    }
  }

  &__dates-block {
    .close {
      width: 12px;
      height: 12px;
      background-image: url("./../img/Delete.svg");
      background-size: 100%;
      background-position: center;
      display: block;
      position: absolute;
      right: 31px;
      top: 24px;

      @include mobile {
        right: 8px;
      }
    }
  }
}

.main-form__name {
  width: calc(100% + 110px);
  height: 349px;
  margin-left: -55px;
  background-color: $color-dark-grey;
  padding: 47px 60px;
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  color: $color-text-grey;
  resize: none;
  border: none;
  outline: none;
  transition: background-color 0.4s;
  display: table-cell;
  vertical-align: bottom;

  &::placeholder {
    transition: color 0.4s;
    color: $color-ph-lila;
  }

  &.color-lila::placeholder {
    color: $color-ph-lila;
  }

  &.color-violet::placeholder {
    color: $color-ph-violet;
  }

  &.color-blue::placeholder {
    color: $color-ph-blue;
  }

  &.color-lightgreen::placeholder {
    color: $color-ph-lightgreen;
  }

  &.color-green::placeholder {
    color: $color-ph-green;
  }

  &.color-orange::placeholder {
    color: $color-ph-orange;
  }

  &.color-yellow::placeholder {
    color: $color-ph-yellow;
  }

  @include mobile {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    height: 206px;
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
  }
}

.main-form__color {
  display: flex;
  margin-top: 20px;
  margin-bottom: 9px;

  @include mobile {
    margin-top: 21px;
  }

  @media (max-width: 374px) {
    margin-top: 17px;
  }

  input {
    display: none;
  }

  label {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 3px;
    display: block;

    @include mobile {
      width: 36px;
      height: 36px;
      margin-right: 4px;
    }

    &.lila {
      background-color: $color-lila;
    }
    &.violet {
      background-color: $color-violet;
    }
    &.blue {
      background-color: $color-blue;
    }
    &.lightgreen {
      background-color: $color-lightgreen;
    }
    &.green {
      background-color: $color-green;
    }
    &.orange {
      background-color: $color-orange;
    }
    &.yellow {
      background-color: $color-yellow;
    }
  }

  input:checked + label {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-color: $color-white;
      border-radius: 50%;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }
}

.main-form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    margin-top: -24px;
    justify-content: flex-start;
  }

  .main-form__input {
    position: relative;

    @include mobile {
      // margin-top: 44px;
      // margin-right: 10px;
    }
  }

  &--big {
    .main-form__input {
      width: 100%;
      margin-top: 26px;

      @include mobile {
        margin: 0;
      }
    }
  }
}

input {
  border: none;
  outline: none;
}

.main-form__discription,
.main-form__link,
.main-form__instructor {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 60px;

  @include mobile {
  }
}

.main-form__tags {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 50px;
  margin-bottom: 7px;
}

.main-form__price-block,
.main-form__part-input,
.main-form__select {
  @media (max-width: 450px) {
    width: 100% !important;
  }
}

  // .main-form__discription::placeholder,
  // .main-form__link::placeholder {
  //   font-weight: 300;
  //   font-size: 20px;
  //   line-height: 30px;
  //   font-family: inherit;

  //   @include mobile {
  //     font-size: 17px;
  //   }
  // }

.main-form__price,
.main-form__participants,
.main-form__duration,
.js-Dropdown {
  width: 200px;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 60px;
  padding-bottom: 6px;
  font: inherit;
  height: 40px;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.js-Dropdown-title {
  border: none;
  height: auto;
  font: inherit;
  padding: 0;
  margin: 0 !important;
  height: 40px;
  background-color: transparent;

  &::after {
    display: none;
  }
}

.js-Dropdown {
  transition: border-bottom 0.2s;
  &.is-open {
    border-bottom: 1px solid $color-btn-blue;
  }
}

.js-Dropdown-list {
  top: 40px;
  li {
    &:first-of-type {
      height: 0;
      padding: 0;
    }
  }
}

.main-form__instructor {
  margin-top: 22px;
}

.main-form__select {
  &--big {
    width: 200px;
  }

  span.select2 {
    border-bottom: 1px solid #ced3de;
    margin-top: 60px;
    height: 40px;
    display: block;
    padding-bottom: 6px;

    @include mobile {
      margin-top: 21px;
      width: 100% !important;
    }
  }

  .select2-container--default .select2-selection--single {
    border: none;
    outline: none;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: $color-black;
    padding: 0;

    @include mobile {
      font-size: 17px;
    }
  }

  .select2-selection__arrow {
    display: none;
  }
}

.js-Dropdown-list {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  li {
    height: 49px;
    color: $color-black;
    padding: 14px 8px 15px 20px;
    border: none;

    &:hover {
      color: $color-black;
      background-color: $color-lightblue;
    }

    &.is-selected {
      color: $color-black;
      background-color: $color-lightblue;
    }
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {

}

.main-form__date {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    margin-top: 0;
  }

  @media (max-width: 374px) {
    margin-top: -6px;
  }

  button {
    order: 2;
    flex-shrink: 0;
  }
}

.main-form__adddate {
  margin-top: 16px !important;
  position: relative;

  &:after {
    position: absolute;
  }

  @include mobile {
    font-size: 17px;
    margin-top: 14px !important;
    padding-left: 0;
    margin-bottom: 38px;
  }
}

.main-form__addtime {
  width: 60px;
  height: 60px;
  background-color: $color-btn-bg-grey;
  position: relative;
  border: none;

  @include mobile {
    margin-top: 45px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    background-color: $color-btn-blue;
    top: 50%;
    left: calc(50% - 7px);
  }

  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background-color: $color-btn-blue;
    right: 50%;
    top: calc(50% - 7px);
  }

  &:hover {
    background-color: $color-lightblue;
  }

  .disabled {
    background-color: $color-btn-bg-grey;
    pointer-events: none;

    &:after,
    &:before {
      background-color: $color-text-grey;
    }
  }
}

.main-form__part-input {
  .tooltip {
    position: absolute;
    width: 299px;
    background: $color-white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #a2aabd;
    z-index: 10000;
    opacity: 1;

    @include mobile {
      width: 270px;
      text-align: center;
      right: 0;
    }

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    a {
      color: #3773e0;
    }

    button {
      background-color: $color-white;
      border: none;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #3773e0;
      width: 100%;
      margin-top: 0;
    }
  }
}

.main-form__input-date {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #e7e7e7;
    border-radius: 50%;
    bottom: 20px;
    right: 12px;
  }
}

.ui-datepicker {
  overflow: scroll;
  flex-direction: column;
  width: 320px !important;
  height: 370px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  font-family: $font-family !important;
  padding: 11px;
  font-weight: 300;
  font-size: 15px;
  padding-top: 68px;

  @include mobile {
    width: 100vw !important;
    max-width: 420px;
    left: 0 !important;
  }

  thead {
    display: none;
  }

  .ui-datepicker-group {
    width: 100%;
  }

  .ui-datepicker-group-first {
    thead {
      display: table-header-group;
      text-transform: uppercase;
      transform: translateY(-39px);
      height: 0;
      opacity: 0.4;
      border-bottom: 1px solid #ced3de;
    }

    .ui-datepicker-calendar {
      margin: -33px 0 0 !important;
      width: 100% !important;
    }
  }

  td a {
    border: none !important;
    background: none !important;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-align: center !important;
    padding: 0 !important;
  }

  .ui-button.ui-state-active:hover,
  .ui-button:active,
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active {
    position: relative;
    background-color: transparent;
    color: $color-white;

    &:after {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $color-blue;
      top: 0;
      left: calc(50% - 14px);
      z-index: -1;
    }
  }

  .ui-datepicker-header {
    border: none;
    background: none;
    // padding-bottom: 0 !important;
  }

  .ui-datepicker-title {
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 9px;

    color: #000000;
  }

  .ui-datepicker-prev {
    display: none;
  }

  .ui-datepicker-calendar {
    margin: 0 !important;
    width: 100% !important;
  }

  /* хром, сафари */
  &::-webkit-scrollbar {
    width: 0;
  }

  /* ie 10+ */
  & {
    -ms-overflow-style: none;
  }

  /* фф (свойство больше не работает, других способов тоже нет)*/
  & {
    overflow: -moz-scrollbars-none;
  }
}
