.main-form {
  background-color: $color-white;
  padding: 0 55px 74px;
  margin: 0 auto;
  width: 800px;
  margin-top: 37px;
  margin-bottom: 74px;

  @include mobile {
    width: 100%;
    margin-top: 0;
    padding: 0 20px 74px;
    margin-bottom: 0;
  }

  select {
    display: none;
  }

  input {
    transition: border 0.4s;

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .timepicker {
    width: 90px;
    margin-right: 20px;

    @include mobile {
      width: 59px;
      margin-right: 13px;
    }
  }

  input:focus {
    border-bottom: 1px solid $color-btn-blue;
  }

  button {
    margin-top: 41px;

    @include mobile {
      margin-top: 45px;
    }
  }

  .blue-btn {
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    @include mobile {
      margin-top: 36px;
    }
  }

  &__date {
    .main-form__input {
      position: relative;
      margin-top: 42px;
      input {
        width: 120px;
        padding: 0 0 6px;
        margin-right: 30px;
        border-bottom: 1px solid $color-border-grey;
        margin-top: 29px;
        padding-bottom: 6px;
        height: 30px;
        @include mobile {
          margin-right: 28px;
          padding-bottom: 13px;
        }
      }
    }
  }
}

.main-form__name {
  width: calc(100% + 110px);
  height: 349px;
  margin-left: -55px;
  background-color: $color-dark-grey;
  padding: 47px 60px;
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  color: $color-text-grey;
  text-align: bottom;
  resize: none;
  border: none;
  outline: none;
  transition: background-color 0.4s;

  @include mobile {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    height: 206px;
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}

.main-form__color {
  display: flex;
  margin-top: 20px;
  margin-bottom: 9px;

  @include mobile {
    margin-top: 17px;
  }

  input {
    display: none;
  }

  label {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 3px;
    display: block;

    @include mobile {
      width: 36px;
      height: 36px;
      margin-right: 4px;
    }

    &.lila {
      background-color: $color-lila;
    }
    &.violet {
      background-color: $color-violet;
    }
    &.blue {
      background-color: $color-blue;
    }
    &.lightgreen {
      background-color: $color-lightgreen;
    }
    &.green {
      background-color: $color-green;
    }
    &.orange {
      background-color: $color-orange;
    }
    &.yellow {
      background-color: $color-yellow;
    }
  }

  input:checked + label {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-color: $color-white;
      border-radius: 50%;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }
}

.main-form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    margin-top: -24px;
  }

  .main-form__input {
    margin: 0;
    position: relative;
    margin-top: 38px;

    @include mobile {
      margin-top: 44px;
    }
  }

  &--big {
    .main-form__input {
      width: 100%;
      margin-top: 26px;
    }
  }
}

input {
  border: none;
  outline: none;
}

.main-form__discription,
.main-form__link,
.main-form__instructor {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 60px;

  @include mobile {
  }
}

.main-form__tags {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 50px;
  margin-bottom: 7px;
}

.main-form__discription::placeholder,
.main-form__link::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  @include mobile {
    font-size: 17px;
  }
}

.main-form__price,
.main-form__participants,
.main-form__duration {
  width: 200px;
  border-bottom: 1px solid $color-border-grey;
  margin-top: 29px;
  padding-bottom: 6px;
}

.main-form__instructor {
  margin-top: 22px;
}

.form-label {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-text-grey;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  &.price-label {
    width: fit-content;
    &::after {
      content: "?";
      position: absolute;
      color: $color-white;
      font-size: 11px;
      line-height: 11px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #a2aabd;
      padding: 3px 5px;
      box-sizing: border-box;
      right: -22px;
      bottom: 0;
    }
  }
}

.main-form__select {
  &--big {
    width: 200px;
  }

  span.select2 {
    border-bottom: 1px solid #ced3de;
    margin-top: 25px;
    display: block;
    padding-bottom: 6px;
  }

  .select2-container--default .select2-selection--single {
    border: none;
    outline: none;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: $color-black;
    padding: 0;

    @include mobile {
      font-size: 17px;
    }
  }

  .select2-selection__arrow {
    display: none;
  }
}

.select2-dropdown {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.select2-search--dropdown {
  display: none;
}

.select2-results__option {
  height: 49px;
  color: $color-black;
  padding: 14px 8px 15px 20px;

  &:hover {
    color: $color-black;
    background-color: $color-lightblue;
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  color: $color-black;
  background-color: $color-lightblue;
}

.main-form__date {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    margin-top: -6px;
  }

  button {
    order: 2;
  }
}

.main-form__adddate {
  margin-top: 16px !important;
  position: relative;

  &:after {
    position: absolute;
  }

  @include mobile {
    font-size: 17px;
    margin-top: 14px !important;
    padding-left: 0;
    margin-bottom: 38px;
  }
}

.main-form__addtime {
  width: 60px;
  height: 60px;
  background-color: $color-btn-bg-grey;
  position: relative;
  border: none;

  @include mobile {
    margin-top: 45px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    background-color: $color-btn-blue;
    top: 50%;
    left: calc(50% - 7px);
  }

  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background-color: $color-btn-blue;
    right: 50%;
    top: calc(50% - 7px);
  }

  &:hover {
    background-color: $color-lightblue;
  }

  .disabled {
    background-color: $color-btn-bg-grey;
    pointer-events: none;

    &:after,
    &:before {
      background-color: $color-text-grey;
    }
  }
}

.main-form__part-input {
  .tooltip {
    position: absolute;
    width: 299px;
    background: $color-white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #a2aabd;
    z-index: 10000;
    opacity: 1;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    a {
      color: #3773e0;
    }

    button {
      background-color: $color-white;
      border: none;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #3773e0;
    }
  }
}

.ui-datepicker {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 320px !important;
  height: 370px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  font-family: $font-family !important;
  padding: 11px;
  font-weight: 300;
  font-size: 15px;
  padding-top: 68px;

  thead {
    display: none;
  }

  .ui-datepicker-group-first {
    thead {
      display: table-header-group;
      text-transform: uppercase;
      transform: translateY(-39px);
      height: 0;
      opacity: 0.4;
      border-bottom: 1px solid #ced3de;
    }

    .ui-datepicker-calendar {
      margin: -33px 0 0 !important;
      width: 100% !important;
    }
  }

  td a {
    border: none !important;
    background: none !important;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-align: center !important;
    padding: 0 !important;
  }

  .ui-button.ui-state-active:hover,
  .ui-button:active,
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active {
    position: relative;
    background-color: transparent;
    color: $color-white;

    &:after {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $color-blue;
      top: 0;
      left: calc(50% - 14px);
      z-index: -1;
    }
  }

  .ui-datepicker-header {
    border: none;
    background: none;
    // padding-bottom: 0 !important;
  }

  .ui-datepicker-title {
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 9px;

    color: #000000;
  }

  .ui-datepicker-prev {
    display: none;
  }

  .ui-datepicker-calendar {
    margin: 0 !important;
    width: 100% !important;
  }

  /* хром, сафари */
  &::-webkit-scrollbar {
    width: 0;
  }

  /* ie 10+ */
  & {
    -ms-overflow-style: none;
  }

  /* фф (свойство больше не работает, других способов тоже нет)*/
  & {
    overflow: -moz-scrollbars-none;
  }
}
