doctype html
html lang="ru"
  head
    meta charset="UTF-8" /
    title Cotime | Тарифы
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-300.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-500.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-700.woff2" rel="preload" type="font/woff2" /
    link href="css/style.min.css" rel="stylesheet" /
  body
    header.header
      .header__logo
        img alt="logo" height="20" src="img/logo.svg" width="108" /
      .header__links
        a.header__link href="./prices"  Тарифы
        a.header__link href="./faq"  Вопросы и ответы
        a.header__link href="./new-event"  + Создать занятие
      .header__account.header__account--logged
        a.header__link.header__link--enter href=""  Войти
        button.header__account--name type="button"  Maksimova M.
      .header__kebab
    main
      .container
        .documents
          .documents__title Юридические документы
          .documents__list
            .documents__list-item
              a href="#"
                svg aria-hidden="true" height="28" width="20"
                  use xlink:href="img/sprite.svg#doc"
                | Политика обработки персональных данных
            .documents__list-item
              a href="#"
                svg aria-hidden="true" height="28" width="20"
                  use xlink:href="img/sprite.svg#doc"
                | Правила дистанционного обслуживания
            .documents__list-item
              a href="#"
                svg aria-hidden="true" height="28" width="20"
                  use xlink:href="img/sprite.svg#doc"
                | Оферты 1С
            .documents__list-item
              a href="#"
                svg aria-hidden="true" height="28" width="20"
                  use xlink:href="img/sprite.svg#doc"
                | Регламент приёма исполнительных документов
    footer.footer
      .footer__inner
        .footer__top
          .footer__logo © Cotime
          .footer__links
            a.footer__link href="./prices"  Тарифы
            a.footer__link href="./faq"  Вопросы и ответы
            a.footer__link href="./documents"  Документы
            a.footer__link.footer__link--email href="mailto:hi@cotime.io"
              svg aria-hidden="true" height="15" width="19"
                use xlink:href="img/sprite.svg#letter"
              | hi@cotime.io
            button.footer__link type="button"  En
        .footer__note
          | Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик.
          br/
          | Оставаясь на сайте, вы соглашаетесь на сбор таких данных.
    script src="js/script.min.js"
