doctype html
html lang="ru"
  head
    meta charset="UTF-8" /
    title Cotime | Список событий
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-300.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-500.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-700.woff2" rel="preload" type="font/woff2" /
    link href="css/style.min.css" rel="stylesheet" /
  body
    header.header.is-event
      .header__logo
        img alt="logo" height="20" src="img/logo.svg" width="108" /
      .header__links.hide
        a.header__link href="./prices"  Тарифы
        a.header__link href="./faq"  Вопросы и ответы
        a.header__link href="./new-event"  + Создать занятие
      .header__account.header__account--logged
        a.header__link.header__link--enter href=""  Войти
        button.header__account--name type="button"  Maksimova M.
      .header__kebab
    main
      .container.container--event
        h1.visually-hidden Список событий
        .events-list
          .event.event__list
            .event__block
              .event__description-list-block
                .event__description-header
                  .event__description-photo
                    span AC
                  .event__description-lead
                    p.event__description-name Екатерина Пылаева
                    p.event__description-text GLP Feedback
                    p.event__description-text GLP Feedback
                .event__description-list
                  .event__description-list-item
                    h2.event__title.purple
                      span GLP Feedback
                    .event__description-body
                      p Идея в том, чтобы ощутить детально, как при движении тело создает волну, задействуя все двигательные части, и научиться управлять ею, делая эту волну более амплитудной или совсем незаметной. Для этого надо чтобы все суставы в теле были подвижны во всех возможных направлениях и имели связи друг с другом, причем чем легче и мягче будут связи, тем плавнее будет волна.
                      .event__info
                        p.event__info-price Цена – 5000 рублей
                        p.event__info-duration Длительность – 2 часа
                      a.blue-btn.event__btn href=""  Выбрать время
                  .event__description-list-item
                    h2.event__title.lightgreen
                      span GLP Feedback
                    .event__description-body
                      p Встреча на полтора часа
                      .event__info
                        p.event__info-price Цена – 5000 рублей
                        p.event__info-duration Длительность – 2 часа
                      a.blue-btn.event__btn href=""  Выбрать время
                  .event__description-list-item
                    h2.event__title.orange
                      span Расслабляем спину
                    .event__description-body
                      p Онлайн-группа по соматике
                      p.event__info-price Цена – 5000 рублей
                      p.vent__info-duration Длительность – 2 часа
                      a.blue-btn.event__btn href=""  Выбрать время
                  .event__description-list-item
                    h2.event__title.orange
                      span Расслабляем спину
                    .event__description-body
                      p Онлайн-группа по соматике
                      p.event__info-price Цена – 5000 рублей
                      p.event__info-duration Длительность – 2 часа
                      a.blue-btn.event__btn href=""  Выбрать время
    footer.footer.is-event
      .footer__inner
        .footer__top
          .footer__logo © Cotime
          .footer__links
            a.footer__link href="./prices"  Тарифы
            a.footer__link href="./faq"  Вопросы и ответы
            a.footer__link href="./documents"  Документы
            a.footer__link.footer__link--email href="mailto:hi@cotime.io"
              svg aria-hidden="true" height="15" width="19"
                use xlink:href="img/sprite.svg#letter"
              | hi@cotime.io
            button.footer__link type="button"  En
        .footer__note
          | Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик.
          br/
          | Оставаясь на сайте, вы соглашаетесь на сбор таких данных.
    script src="js/script.min.js"
