doctype html
html lang="ru"
  head
    meta charset="UTF-8" /
    title Cotime | Тарифы
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-300.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-500.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-700.woff2" rel="preload" type="font/woff2" /
    link href="css/style.min.css" rel="stylesheet" /
  body
    header.header
      .header__logo
        img alt="logo" height="20" src="img/logo.svg" width="108" /
      .header__links
        a.header__link href="./prices"  Тарифы
        a.header__link href="./faq"  Вопросы и ответы
        a.header__link href="./new-event"  + Создать занятие
      .header__account.header__account--logged
        a.header__link.header__link--enter href=""  Войти
        button.header__account--name type="button"  Maksimova M.
      .header__kebab
    main
      .container
        .tariffs-page
          h1.tariffs-page__title Тарифы
          .tariffs-page__table
            table
              thead
                tr
                  th
                  th Hoby
                  th Part time
                  th Business
              tbody
                tr
                  td Цена
                  td.tariffs-page__price Бесплатно
                  td.tariffs-page__price 999 р. в месяц
                  td.tariffs-page__price 1999 р. в месяц
                tr
                  td Создание занятий
                  td Индивидуальные и групповые
                  td Индивидуальные и групповые
                  td Индивидуальные и групповые
                tr
                  td Количество платежей
                  td 2 в месяц без комиссии или 4 999 рублей в месяц
                  td До 100 платежей или 99 999 рублей в месяц
                  td Без ограничений
                tr
                  td Комиссия
                  td —
                  td 5,9%
                  td 2,9%
                tr
                  td
                  td
                    a.blue-btn Подключить
                  td
                    a.blue-btn Выбрать
                  td
                    a.blue-btn Выбрать
    footer.footer
      .footer__inner
        .footer__top
          .footer__logo © Cotime
          .footer__links
            a.footer__link href="./prices"  Тарифы
            a.footer__link href="./faq"  Вопросы и ответы
            a.footer__link href="./documents"  Документы
            a.footer__link.footer__link--email href="mailto:hi@cotime.io"
              svg aria-hidden="true" height="15" width="19"
                use xlink:href="img/sprite.svg#letter"
              | hi@cotime.io
            button.footer__link type="button"  En
        .footer__note
          | Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик.
          br/
          | Оставаясь на сайте, вы соглашаетесь на сбор таких данных.
    script src="js/script.min.js"
