doctype html
html lang="ru"
  head
    meta charset="UTF-8" /
    title Cotime | Варианты использования
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-300.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-500.woff2" rel="preload" type="font/woff2" /
    link as="font" crossorigin="" href="fonts/MuseoSansCyrl-700.woff2" rel="preload" type="font/woff2" /
    link href="css/style.min.css" rel="stylesheet" /
  body
    header.header.is-event
      .header__logo
        img alt="logo" height="20" src="img/logo.svg" width="108" /
      .header__links.hide
        a.header__link href="./prices"  Тарифы
        a.header__link href="./faq"  Вопросы и ответы
        a.header__link href="./new-event"  + Создать занятие
      .header__account.header__account--logged
        a.header__link.header__link--enter href=""  Войти
        button.header__account--name type="button"  Maksimova M.
      .header__kebab
    main
      .container.container--event
        .line.step3
        form.var-form method="post"
          .var-form__inner
            h1 Варианты использования
            .var-form__inputs
              input#Hobby checked="" name="variants" type="radio" value="Hobby" /
              label for="Hobby"
              h2 Hobby
              p.var-form__price Бесплатно
              p.var-form__disc Создание индивидуальных сессий и 2 приема платежей в&nbsp;месяц
              input#Part name="variants" type="radio" value="Part" /
              label for="Part"
              h2 Part time
              p.var-form__price 999 р.
              p.var-form__disc Все возможности приема платежей, 5.9%&nbsp;от суммы
              input#Business name="variants" type="radio" value="Business" /
              label for="Business"
              h2 Business
              p.var-form__price 1999 р.
              p.var-form__disc Все возможности приема платежей, 2.9%&nbsp;от суммы
            button.var-form__compare.button-link type="button"  Сравнить тарифы
            input#want type="checkbox" /
            label.var-form__individual for="want"  Хочу индивидуальный вариант с выделенным специалистом технической поддержки
            button.blue-btn type="submit"  Далее
            p.var-form__note
              | 31 октября мы зарелизим систему тарифов. Уже сейчас действует тариф FREE. Вы подписаны на него.
              = succeed "\u{412}" do
                br/
              | рамках этого тарифа с 31 октября вы&nbsp;сможете принимать бесплатно два&nbsp;платежа в&nbsp;месяц на сумму до
              = succeed "." do
                span 4&nbsp;999&nbsp;рублей
    footer.footer.is-event
      .footer__inner
        .footer__top
          .footer__logo © Cotime
          .footer__links
            a.footer__link href="./prices"  Тарифы
            a.footer__link href="./faq"  Вопросы и ответы
            a.footer__link href="./documents"  Документы
            a.footer__link.footer__link--email href="mailto:hi@cotime.io"
              svg aria-hidden="true" height="15" width="19"
                use xlink:href="img/sprite.svg#letter"
              | hi@cotime.io
            button.footer__link type="button"  En
        .footer__note
          | Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик.
          br/
          | Оставаясь на сайте, вы соглашаетесь на сбор таких данных.
    script src="js/script.min.js"
