extends pug/layout.pug

block variables
  - let title = 'Индивидуальное соматическое занятие';
  - let isEvent = true;

block content
  .container.container--event
    .event
      h1 #{title}
      .event__block
        .event__discription
          .event__discription-header
            .event__discription-photo
              span AC
            .event__discription-lead
              p.event__discription-name Екатерина Пылаева
              p.event__discription-text GLP Feedback
              p.event__discription-text GLP Feedback
          .event__discription-body
            p Идея в том, чтобы ощутить детально, как при движении тело создает волну, задействуя все двигательные части, и научиться управлять ею, делая эту волну более амплитудной или совсем незаметной. Для этого надо чтобы все суставы в теле были подвижны во всех возможных направлениях и имели связи друг с другом, причем чем легче и мягче будут связи, тем плавнее будет волна.

        .event__subscribe
          form(action="post")
            input(type="radio" id="24" name="date" value="24")
            label(for="24")
              span.date 24 июня
              span.time 19:00
            input(type="radio" id="25" name="date" value="25")
            label(for="25")
              span.date 25 июня
              span.time 19:00
            input(type="radio" id="26" name="date" value="26")
            label(for="26")
              span.date 26 июня
              span.time 19:00
            p Длительность – 2 часа
            button.blue-btn(type="submit") Записаться
  .popup.subscribe-popup
    .subscribe-popup__block
      h2 Поздравляем, занятие создано
      form.subscribe-form(method="post")
        template
          .subscribe-form__email
            p 123
        p.subscribe-popup__share Вот вам кнопка для шаринга
        .subscribe-popup__link
          input(type="text" id="copyTarget" value="http://cotime.io/aukdfj" )
          button( id="copyButton" ) Скопировать ссылку
        p.subscribe-popup__share Отправьте ссылку на адреса электронной почты
        .subscribe-popup__send-link
          input(type="email" placeholder="+ Email")
          button.blue-btn(type="submit" disabled) Добавить
        .subscribe-form__emails