h2 создание события

ul
  li
    a(href="./main-form.html")   main-form начало
  li
    a(href="./phone-new-event.html")   phone добавить телефон
  li
    a(href="./code-new-event.html")   code добавить код
  li
    a(href="./event.html")   event   Готово, занятие создано
  li
    a(href="./variants.html")   variants Варианты использования

  li
    a(href="./tariffs.html")   tariffs
  li
    a(href="./documents.html")   documents


h2 запись на занятие

ul
  li
    a(href="./events.html")   список event'ов
  li
    a(href="./phone-subscribe-event.html")   phone добавить телефон
  li
    a(href="./code-subscribe-event.html")   code добавить код
  li
    a(href="./choose-date-subscribe.html")   event  date choose
  li
    a(href="./add-personal-data.html")   личные данные

  li
    a(href="./my-events.html")   мои события

h2 lsnding

ul
  li
    a(href="./landing.html")   lading