ul
  li
    a(href="./main-form.html")   main-form
  li
    a(href="./phone.html")   phone
  li
    a(href="./code.html")   code
  li
    a(href="./event.html")   event
  li
    a(href="./variants.html")   variants