extends pug/layout.pug

block variables
  - let title = 'Форма заявки';

block content
  .container
    .line.step1
    h1.visually-hidden #{title}

    .main-form
      form
        textarea.main-form__name(placeholder="Название")
        .main-form__color
          input(type="radio" id="lila" name="color" value="lila")
          label.lila(for="lila")
          input(type="radio" id="violet" name="color" value="violet")
          label.violet(for="violet")
          input(type="radio" id="blue" name="color" value="blue")
          label.blue(for="blue")
          input(type="radio" id="lightgreen" name="color" value="lightgreen")
          label.lightgreen(for="lightgreen")
          input(type="radio" id="green" name="color" value="green")
          label.green(for="green")
          input(type="radio" id="orange" name="color" value="orange")
          label.orange(for="orange")
          input(type="radio" id="yellow" name="color" value="yellow")
          label.yellow(for="yellow")
        .main-form__inputs
          input.main-form__discription(type="text" placeholder="Описание")
          input.main-form__link(type="text" placeholder="Ссылка на онлайн-занятие")
          div.main-form__input
            input.main-form__price(type="text" id="price" autocomplete="off")
            label.form-label.price-label(for="price") Цена
          div.main-form__part-input.main-form__input
            input.main-form__participants(type="number" id="max" min="1" autocomplete="off")
            label.form-label(for="max") Максимум участников
            div.tooltip.tooltip--hidden
              p Групповые занятия доступны с тарифами <a href="#">BASIC</a> и <a href="#">PRO</a>. Для индивидуальных занятий оформление онлайн-занятия бесплатно .
              button(type="button") Понятно
          div.main-form__select.main-form__select--big.main-form__input
            select.main-form__duration.custom-select(id="duration" name="duration[]")
              option(value="45") 45 минут
              option(value="1") 1 час
              option(value="2") 2 часа
            label.form-label(for="duration") Длительность
        .main-form__dates-block
          template.time
            .main-form__input
              input.timepicker(type="time" autocomplete="off" placeholder="")
              label.form-label Время
          template.date
            .main-form__date
              .main-form__input
                input.datepicker(type="text" autocomplete="off")
                label.form-label Дата
              .main-form__date-times
                .main-form__input
                  input.timepicker(type="time" autocomplete="off" placeholder="")
                  label.form-label Время
              button.main-form__addtime
          .main-form__dates
            .main-form__date
              .main-form__input
                input.datepicker(type="text" id="date" autocomplete="off")
                label.form-label(for="date") Дата
              .main-form__date-times
                .main-form__input
                  input.timepicker(type="time" id="time" autocomplete="off" placeholder="")
                  label.form-label(for="time") Время
              button.main-form__addtime
          button.main-form__adddate.button-link Добавить дату


        .main-form__inputs.main-form__inputs--big
          div.main-form__input
            input.main-form__instructor(type="text" id="instructor")
            label.form-label(for="instructor") Имя и фамилия ведущего
          input.main-form__tags(type="text"  placeholder="Добавить теги")
        button.blue-btn(type="submit" disabled) Создать



