extends pug/layout.pug

block variables
  - let title = 'Введите номер телефона';
  - let isEvent = true;

block content
  .container.container--event
    .line.step2
    form.phone-form(method="post")
      h1 #{title}
      p Этот номер нужен для регистрации аккаунта.  Мы не покажем его в анонсе занятия.
      input#phone( type="tel" placeholder="+7")
      button.blue-btn(type="submit") Далее
      button.button-link(type="submit") Назад