$width-desktop: 1400px;
$width-tablet: 800px;
$width-mobile: 320px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "MuseoSansCyrillic", "Arial", sans-serif;
// $font-base: 48px;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #71798A;
$color-light-grey: #f4f5f7;
$color-dark-grey: #e8eaef;
$color-text-grey: #a2aabd;
$color-btn-bg-grey: #f9fafb;
$color-border-grey: #ced3de;
$color-btn-blue: #3773e0;
$color-hover-blue: #175cd8;
$color-lila: #a63987;
$color-violet: #5c39a6;
$color-purple: #5A31B9;
$color-blue: #2b65fb;
$color-lightgreen: #2bbf93;
$color-green: #65a563;
$color-green-dark: #6AA65B;
$color-orange: #ff701f;
$color-orange-btn: #F07731;
$color-yellow: #ff9900;
$color-lightblue: #ebf1fc;


// Landing


$color-landing-pink: #DF8ECE;
$color-landing-blue: #89C6E9;
$color-landing-green: #71DBB5;
$color-landing-lightgreen: #A7D99B;
$color-landing-yellow: #FFC266;
$color-landing-orange: #FFA05E;